/cross.xcodeproj/xcuserdata
/cross.xcodeproj/project.xcworkspace/
/cross/main.cpp
/cross/Assets.xcassets/AppIcon.appiconset/icon-1024@1.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-20@2.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-20@3.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-29@2.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-29@3.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-40@2.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-40@3.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-60@2.png
/cross/Assets.xcassets/AppIcon.appiconset/icon-60@3.png

